.dash-wrapper {
  width: 90%;
  max-width: 500px;
  color: #b05801;
  background: rgb(151, 231, 245);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(50px);
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  margin: 50px auto;
  text-align: center;
}

.dash-wrapper h1 {
  font-size: 32px;
  margin-bottom: 20px;
}


.dash-image-box {
  margin-bottom: 20px;
}

.dash-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}


.upload-btn {
  display: inline-block;
  background: #fff;
  color: #b05801;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
}

.upload-btn input {
  display: none;
}

/* بيانات العرض */
.dash-info p,
.dash-info ul {
  color: #fff;
  margin: 10px 0;
}

.dash-info ul li {
  list-style: none;
}

/* زر تعديل */
.edit-btn {
  width: 100%;
  margin-top: 15px;
  background: #fff;
  color: #b05801;
  border: none;
  padding: 12px 0;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

/* نمط التعديل */
.dash-edit input,
.dash-edit textarea {
  width: 100%;
  margin: 10px 0;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.2);
  border-radius: 15px;
  padding: 12px 15px;
  color: #b05801;
  font-size: 15px;
  outline: none;
}

.dash-edit textarea {
  resize: none;
  height: 80px;
}

.save-btn {
  width: 100%;
  background: #fff;
  color: #b05801;
  border: none;
  padding: 12px 0;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}
