*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.header{
  width: 100%;
  height: 100px;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
}
.header .logo{
  flex: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}


.logo img{
    height: 60px;
    width: auto;
    border-radius: 20px;
    
}
.header .navbar{
    flex: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}.header .navbar .link{
    display: flex;
    align-items: center;
}

.navbar a{
    color: #fff;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.navbar a::before{
    content: '';
    position: absolute;
    top:100%;
    width: 0;
    height: 2px;
    background: #fff;
    left: 0;
    transition: 0.3s;
}
.navbar a:hover:before{
    width: 100%;
}
.header .navbar .menuButton{
    display: none;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
.header .navbar .menuButton{
    display: none;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.header .navbar .menuButton svg{
    font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .header .navbar .menuButton {
    display: block;
  }

  .header .navbar .link{
    display: none;
    
  }
  .header .navbar .link{
    display: flex;
    position: absolute;
    top: 100px;
    right: 0;
    flex-direction: column;
    background-color: rgba(247, 107, 0, 0.93);
    width: 200px;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 2000;
    transform: translateX(100%); 
    transition: transform 0.3s ease; 
    }
  .header .navbar.open .link {
    transform: translateX(0);
  }

   .header .navbar .link a {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

  .header .navbar .link a:last-child {
    border-bottom: none;
  }
}

.logout-btn {
  color: #ff4d4d;
  margin: 0 15px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn:hover {
  color: #ff8080;
}
