.weather-container {
  padding: 130px 8%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

html[lang="ar"] .weather-container {
  direction: rtl;
  text-align: center;
}

.weather-title {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 700;
  color: #b05801;
  animation: fadeIn 0.8s ease;
}

.weather-select {
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 18px;
  margin-bottom: 25px;
  border: 2px solid #b05801;
  outline: none;
  cursor: pointer;
  background: #fff;
}

.weather-error {
  color: red;
  font-size: 18px;
  margin-top: 10px;
}

.weather-card {
  background: #ffffff;
  padding: 35px 25px;
  width: 360px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  animation: fadeUp 0.8s ease;
}

.weather-icon {
  width: 120px;
  animation: float 3s infinite ease-in-out;
}

.temp {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 10px;
}

.desc {
  font-size: 20px;
  color: #444;
  margin-bottom: 20px;
  font-weight: 600;
}

.details {
  font-size: 18px;
  color: #555;
  line-height: 1.7;
}

/* Animations */
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(35px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}
